<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
      <p> My name is Amanpreet Kaur an international student from India and currently enrolled in computer programming course.</p>
          <p>I like to learn new things in my free time but unfortuanately over here i do not get much time. </p>
          <p>I have persuaded this course as i like programming and have intreset in it and i have gained a lot from my previous semesters.</p>
          <p>I want to gain much more knowledge of what i am currently doing and wants to be a good progeammeer.</p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for future updates…</p>
    </aside>
  </div>
</div>